{% extends "layout.html" %}
{% block styles %}
{{super()}}

<style type= "text/css">
  body
  {

    background-image: url({{ url_for('static', filename='pics2.png') }});

  }

</style>
{% endblock %}

{% block content %}
{{super()}}

  {% if success%}
  <p> Shelf has been added!.</p>
  <button class=" back__button"type="button" onclick="window.location.href='{{ url_for( 'Home')}}'">Back</button>
  {% else %}


<div class="container p-3 my-3 bg-white text-dark" align = "Center">

  <form class="form-signin" method="POST" action="/AddShelf" align = "Center">
    <h2 class="form-signin-heading">Enter The Shelf detail</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.Name) }}
    {% for message in form.Name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}




    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <button class=" back__button"type="button" onclick="window.location.href='{{ url_for( 'Home')}}'">Back</button>
  </form>

</div>


  {% endif %}
{% endblock %}
