<style>
    .shelfContent {
        max-width: 500px;
        margin: auto;
    }

    input[type="text"] {
        display: block;
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type="radio"] {
        display:inline;
        
    }
    button{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>

<div class="shelfContent">
    <h1 style="text-align: center">Update Shelf</h1>
    <div class="name">
        <form action="/UpdateShelf/{{shelf.id}}" method='POST'>
            Shelfname: <input type="text" name="name" id="name" value="{{shelf.Name}}"><br>
            <input type="submit" value="Update">
            <button class=" back__button"type="button" onclick="window.location.href='{{ url_for( 'Home')}}'">Back</button>
        </form>
    </div>
</div>