<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src= "{{url_for('static',filename='js/practice.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/practice.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/MusicPlayer.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans|Open+Sans+Condensed:300|Oswald&display=swap" rel="stylesheet">
	<!-- Two ways of using bootstrap :D -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Raku's Own webpage</title>
	<!-- Just want to show, the css can be done here as well!-->
	<!-- one of the jinja template is used in login and also forms-->
</head>
<body>
	<div class= "container-fluid">
		<style>
			@keyframes color {
			0% {
				background: #33CCCC;
			}

			20% {
				background: #33CC36;
			}

			40% {
				background: #B8CC33;
			}

			60% {
				background: #FCCA00;
			}

			80% {
				background: #33CC36;
			}

			100% {
				background: #33CCCC;
			}
		}

		body {
			background: #33CCCC;
			/* Fallback */
			animation: color 9s infinite linear;
			text-align: 500px;
			padding: 2em;
		}
		button{
        width: 25%;
        padding: 10px 30px;
        margin: 10px ;
    }
		</style>

		<!-- <img src="{{url_for('static',filename='Sekiro.jfif')}}" width="400" height="250" align = "Center"> -->

            <h1>Shelve list</h1>
            <ul>
                {% for book in Books %}
                    {% if book.FinishReading == name %}
                <li>{{book.Name}}</li>
                    {% endif %}
                {% endfor %}
				<button class=" back__button"type="button" onclick="window.location.href='{{ url_for( 'Home')}}'">Back</button>
			</ul>

		</div>
	</div>
</div>
</div>
<h6 align= "Center"style="font-size: 20px"><b>
</b></h6>


	<script src= "{{url_for('static',filename='js/practice.js')}}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
