<style>
    @keyframes color {
			0% {
				background: #33CCCC;
			}

			20% {
				background: #33CC36;
			}

			40% {
				background: #B8CC33;
			}

			60% {
				background: #FCCA00;
			}

			80% {
				background: #33CC36;
			}

			100% {
				background: #33CCCC;
			}
		}

		body {
			background: #33CCCC;
			/* Fallback */
			animation: color 9s infinite linear;
			text-align: 500px;
			padding: 2em;
		}
    .bookContents {
        max-width: 500px;
        margin: auto;
    }

    input[type="text"] {
        display: block;
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type="radio"] {
        display:inline;
        
    }
    button{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>

<div class="bookContents">
    <h1 style="text-align: center">Update Book</h1>
    <hr>
    <div class="form">

        <form action="/Update/{{book.id}}" method='POST'>
            Name: <input type="text" name="name" id="name" value="{{book.Name}}"><br>
            Date: <input type="text" name="date" id="date" value="{{book.Date}}"><br>
            Author: <input type="text" name="author" id="author" value="{{book.Author}}"><br>
            Shelfname: <input type="text" name="shelfname" id="shelfname" value="{{book.Shelfname}}"><br>
            Genre: <input type="text" name="genre" id="genre" value="{{book.Genre}}"><br>
            ReadingField:<br>

            <input type="radio" id="reading" name="finishreading" value="Reading">
            <label for="html">Reading</label><br>
            <input type="radio" id="notreading" name="finishreading" value="Not Reading">
            <label for="css">didn't read</label><br>
            <input type="radio" id="finished" name="finishreading" value="Finished reading">
            <label for="javascript">Finished</label><br>

            <input type="submit" value="Update">
            <button class=" back__button" type="button"
                onclick="window.location.href='{{ url_for( 'Home')}}'">Back</button>
        </form>

    </div>
</div>